
<div class="col-md-11 py-3">
    <div class="card">
        <div class="card-header">CheckOut</div>
        <div class="card-body border border-dark">
            <table class="table table-hover" *ngIf="arrObjectItem.length > 0">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arrObjectItem">
                        <td>
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="./../assets/images/products/{{item.image}}"
                                        class="img-responsive" width="50px;" /></div>
                                <div class="col-sm-10">
                                    <div class="nomargin">{{item.name}}</div>
                                </div>
                            </div>
                        </td>
                        <td>{{item.price}}</td>
                        <td>{{item.size}}</td>
                        <td>
                            <select class="form-control col-sm-8" (change)="getQnty($event.target.value, item.id);" [(ngModel)]="item.qnty"  name="quant">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </td>
                        <td>{{item.subtotal}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="deleteProduct(item.id)"><i
                                    class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><a href="#" [routerLink]="['/menswear']" class="btn btn-outline-dark">Continue Shopping</a></td>
                        <td colspan="2"></td>
                        <td></td>
                        <td><strong>{{total}}</strong></td>
                        <td><button class="btn btn-outline-dark" (click)="checkOutData()">Checkout </button></td>
                    </tr>
                </tfoot>
            </table>
            <div *ngIf="arrObjectItem.length == 0">
                No Record Found
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
