<div class="card-header">{{title}}</div>
    <div class="card-body">
        <div class="row">
            <div class="card col-md-2 box" *ngFor="let item of products" style="height:5%">
               <div class="img-01">
                <img  src="../../assets/images/products/{{item.image}}" alt="Card image">
               </div>
             
                <div class="card-body">
                    <div class="card-text">{{item.name}}</div><br><br>
                    <div class="card-text">${{item.price}}</div>
                </div>
                <div class="card-footer">
                    <button type="button" (click)="buyProduct(item.id)" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
            <div *ngIf="products.length == 0">
                No Record Found
            </div>
        </div>
   </div> 
