<div class="item my-4">
    <a class="header" [routerLink]="['/menswear']">
        <img class="img-responsive" src="./../assets/images/mens_outerwear.jpg" alt="My image"/>
    </a>
    <h6 class="py-3">Men's Outerwear</h6>
    <div class="d-flex justify-content-center" [routerLink]="['/menswear']">
        <div class="col-md-2 btn border border-dark py-2">
            SHOP NOW
        </div>
    </div>
</div>

<div class="item my-4">
    <a class="header" href="#" [routerLink]="['/ladieswear']">
        <img class="img-responsive" src="./../assets/images/ladies_outerwear.jpg" alt="My image"/>
    </a>
    <h6 class="py-3">Ladies Outerwear</h6>
    <div class="d-flex justify-content-center" [routerLink]="['/ladieswear']">
        <div class="col-md-2 btn border border-dark py-2" >
            SHOP NOW
        </div>
    </div>
</div>

<div class="item my-4">
    <a class="header" href="#" [routerLink]="['/menshirts']">
        <img class="img-fluid" src="./../assets/images/mens_tshirts.jpg" alt="My image"/>
    </a>
    <h6 class="py-3">Men's T-shirts</h6>
    <div class="d-flex justify-content-center" [routerLink]="['/menshirts']">
        <div class="col-md-2 btn border border-dark py-2" >
            SHOP NOW
        </div>
    </div>
</div>

<div class="item my-4">
    <a class="header" href="#" [routerLink]="['/ladieshirts']">
        <img class="img-responsive" src="./../assets/images/ladies_tshirts.jpg" alt="My image"/>
    </a>
    <h6 class="py-3">Ladies T-shirts</h6>
    <div class="d-flex justify-content-center" [routerLink]="['/ladieshirts']">
        <div class="col-md-2 btn border border-dark py-2" >
            SHOP NOW
        </div>
    </div>
</div>




